body {
    font-family: sans-serif;
    padding: 10px;
}
h2 {
    font-weight: bold;
    display: inline-block;
    margin: 12px;
}
.refresh {
    font-size: 80%;
    margin-left: 10px;
}
.header {
    background: #ECECEC;
    padding: 5px;
}
.jupiler {
    background: unset;
    height: 80px;
    vertical-align: bottom;
    display: inline-block;
}
.jupiler > img {
    height: 100%;
    float: left;
}
.suggestions {
    border: 2px solid #ECECEC;
}
ul {
    list-style-type: none;
    padding-left: 10px;
}
li {
    padding: 5px;
    transition: background-color 1s ease-out;
    font-family: apple color emoji,segoe ui emoji,notocoloremoji,segoe ui symbol,android emoji,emojisymbols,emojione mozilla;
}
li img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    vertical-align: bottom;
    margin-left: 5px;
    margin-right: 5px;
}
li .username, li .close {
    display: inline-block;
    position: relative;
    bottom: 15px;
    left: 5px;
}